In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("mathchi/churn-for-bank-customers")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/mathchi/churn-for-bank-customers?dataset_version_number=1...

100%|██████████| 261k/261k [00:00<00:00, 3.92MB/s]

Extracting files...
Path to dataset files: C:\Users\Администратор\.cache\kagglehub\datasets\mathchi\churn-for-bank-customers\versions\1

In [5]:
import pandas as pd
import os

# The 'path' variable from your previous step already holds this directory path
path = r'C:\Users\Администратор\.cache\kagglehub\datasets\mathchi\churn-for-bank-customers\versions\1'

# 1. See what files are in the directory
print("Files found:", os.listdir(path))

# 2. Create the full path to the CSV file
# (The actual filename is 'Churn_Modelling.csv' for this dataset)
file_path = os.path.join(path, 'churn.csv')

# 3. Load the data into a DataFrame
df = pd.read_csv(file_path)

# 4. Start working with your data!
print("\nDataFrame Head:")
print(df.head())

Files found: ['churn.csv']

DataFrame Head:
   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
0          1    15634602  Hargrave          619    France  Female   42
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00              1          1               1
1       1   83807.86              1          0               1
2       8  159660.80              3          1               0
3       1       0.00              2          0               0
4       2  125510.82              1          1               1

   EstimatedSalary  Exited
0        101348.88       1
1        112542.58       0
2        113931.57       1
3         93826.63       0
4         79084.10       0

import pandas as pd

In [6]:

df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

Independent:
    Surname - category 
    Gender - category
    HasCrCard - nominal
    IsActiveMember - nominal
    Age - numerical
    Balance - continuos
    Tenure - numerical
    Creditscore - numerical
    EstimatedSalary - continuos
    

Dependent:
    Exited - nominal

In [ ]:
df.shape
df.describe()
df['Geography'].unique()
df.isna().sum() # No missing values

: